:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --header-color: #f8f9fa;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #f1f1f1;
    --header-color: #333;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: var(--header-color);
    padding: 20px;
    text-align: center;
}

.language-switcher img {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Add styles for the toggle button */
.toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--header-color);
    color: var(--text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.intro {
    margin-top: 20px;
}

.intro h1 {
    font-size: 3rem;
}

.intro p {
    font-size: 1.5rem;
}

section {
    padding: 2rem;
    margin: 20px 0;
}

#projects .project {
    background: white;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
}

footer a {
    color: white;
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.language-switcher img {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

